{% extends 'base.html'%}
{% load static %}
{% block title %} Profile {%endblock title%}
{% block content %}
<!--User Profile-->
<section class="profile">
        <div class="container-fluid">
            <div class="row py-5">
                {% if messages %}
                    <div class="col-lg-12" style="text-align: center;">
                       {% include 'alert.html' %}
                    </div>
                    {% endif %}
                <div class="col-md-4">
                    <div class="text-center profile-border">
                        <img class="rounded rounded-circle profile-picture mt-5" src="{{account.get_profile_picture}}" alt="">
                        <h4 class="text-monospace text-center mb-2 mt-5 " style="font-weight:Bold ;">{{account.username}}</h4>
                        <h6 class="text-monospace text-center mb-2 mt-2 "><small>{{account.email}}</small></h6>
                        <ul class="text-center py-3">
                            <li class="py-2">
                                <span>Posts: <strong>{{account.user_blogs.count}}</strong></span>
                            </li>
                            <li class="py-2">
                                <span>Follwers: <strong>{{account.user_followers.count}}</strong></span>
                            </li>
                            <li class="py-2">
                                <span>Following: <strong>{{account.user_follows.count}}</strong></span>
                            </li>
                            <li class="py-2">
                                {%if following%}
                                <a class="text-decoration-none text-color a-tag" href="{% url 'follow_or_unfollow_user' account.id %}">
                                    <button class="btn btn-primary special-button">
                                    Unfollow
                                </button>
                                </a>
                                {%if muted%}
                                <li class="py-2">
                                <a class="text-decoration-none text-color a-tag" href="{% url 'mute_or_unmute' account.id %}">
                                    <button class="btn btn-primary special-button">
                                    Unmute
                                </button>
                                </a>
                                
                                {%else%}
                                <li class="py-2">
                                <a class="text-decoration-none text-color a-tag" href="{% url 'mute_or_unmute' account.id %}">
                                    <button class="btn btn-primary special-button">
                                    Mute
                                </button>
                                </a>
                            </li>
                                {%endif%}
                                {%else%}
                                <a class="text-decoration-none text-color a-tag" href="{% url 'follow_or_unfollow_user' account.id %}">
                                    <button class="btn btn-primary special-button">
                                    Follow
                                </button>
                                </a>
                                {%endif%}
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-8 mb-2">
                    <h4 class="text-monospace text-center mb-5 header-border">{{account.username}}'s BLOGS</h4>
                    
                    <div class="row pt-1 mb-2">
                        {% if blog in account.user_blogs.count > 0 %}
                        {% for blog in account.user_blogs.all %}
                        <div class="col-md-4 my-2">
                            <div  class="card card-border" >
                            <a href="{% url 'blog_details' blog.slug %}">
                                <img class="card-img-top img-fluid" style="width: 100%; height: 280px;" src="{{blog.banner.url}}" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text d-flex flex-row">
                                    <p>{{blog.title|truncatechars:35}}</p> 
                                    <p><small>{{blog.created_date}}
                                    <span id="like-count" class="fa fa-gratipay px-5 " style="font-size: 15px !important;">{{blog.likes.count}}</span></small></p>
                                    
                                  </p>
                                </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        {%else%}
                            
                            <h2 class="text-center No-Post"> No Post yet</h2>
                        
                        {%endif%}
                    </div>   
        </div>


</section>

{% endblock content %}